@color-link: #00a497;
@color-link-hover: lighten(@color-link, 10%);

body {
    width:100%;
    max-width:800px;
    margin: 32px auto;
    padding: 8px;
}

*, *:before, *:after {
    box-sizing: border-box;
}

a{
	text-decoration:none;
	color:@color-link;
    &:hover{
        color:@color-link-hover;
    }
}

img {
    max-width:100%;
}

.bold {
    font-weight: bold;
}

.small {
    font-size: 0.8em;
}

.right {
    text-align: right;
}

.description {
    .small;
    .right;
}

.date-header {
    .small;
}

.post-title {
    padding-left: 1em;
}

.post-labes {
    a {
        color: white;
        background: black;
        .bold;
        border-radius: 2px;
        padding: 2px 8px;
    }
}

#Label1 {
    span {
        display:inline-block;
        padding: 2px;
    }
}
