@color-link: #00a497;
@color-link-hover: lighten(@color-link, 10%);

body {
    width:100%;
    max-width:800px;
    margin: 0 auto;
    padding: 32px 8px;
    line-height: 1.5em;
}

*, *:before, *:after {
    box-sizing: border-box;
}

a{
	text-decoration:none;
	color:@color-link;
    &:hover{
        color:@color-link-hover;
    }
}

img {
    max-width:100%;
}

.bold {
    font-weight: bold;
}

.small {
    font-size: 0.8em;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.description {
    .small;
    .right;
}

.date-outer {
    padding-bottom: 1em;
    margin-bottom: 3em;
    border-bottom: 2px dotted #dddcd6;
}

.date-header {
    .small;
}

.post-title {
    padding-left: 1em;
}

.post-labels {
    a {
        color: white;
        background: black;
        .bold;
        border-radius: 2px;
        padding: 2px 8px;
    }
}

.separator a {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.blog-pager {
    text-align: center;
    > *{
        padding: 3px 8px;
        margin: 1px;
        border-radius: 2px;
        background: #2a4073;
    }
    a {
        color: white;
    }
    .home-link {
        background: #e83929;
    }
}

.blog-feeds {
    text-align: right;
    .small;
}

#ArchiveList .collapsed > ul {
    display: none;
}

#Label1 {
    span {
        display:inline-block;
        padding: 3px 8px;
        margin: 1px;
        border-radius: 2px;
        background: #00a3af;
        a {
            color: white;
        }
    }
}

.widget-item-control {
    display: none;
}